@tailwind base;
@tailwind components;
@tailwind utilities;



.main-section{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.section{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.main-1 {
    background-image: url(assets/img.jpg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width:290px;
    height:410px;
}
.project{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.project-2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.div-111{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}